body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#logo {
  font-family: "Dancing Script", cursive;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  color: #111;
  letter-spacing: 0.05em;
}